<div class="row mt-3">
  <!--<div class="col-sm-12 col-md-8 justify-content-end">-->

  <div class="col-4 pos_izq ps-4 pt-5">
      
      <div>
          <img src="assets/image/APLogo-20-22.png" class="tam_imag" alt="..." title="Logo Argentina Programa">
      </div>
      <p></p>
  </div>
  

  <div class="col-sm-12 col-md-8 justify-content-end" >
    
      <figure class="mt-4 text-end">
          <blockquote class="blockquote">
              <h2>Argentina Programa</h2>
              <h4>Yo Programo</h4>
              <h5>Full Stack Development Jr</h5>

          </blockquote>
          <figcaption class="blockquote-footer">
              <cite class="figcap" title="Source Title">Actualmente en curso</cite>
          </figcaption>
      </figure>
      <hr>

  </div>
</div>
<div class="row mt-3">
  
  <div class="col-4 pos_izq ps-4 pt-5">
      
      <div>
          <img src="assets/image/Logo_UTN_av.png" class="tam_imag" alt="..." title="Logo UTN Avellaneda">
      </div>
      <p></p>
  </div>
  

  <div class="col-sm-12 col-md-8 justify-content-end" >
                                                                                                    
      <figure class="mt-4 text-end">
          <blockquote class="blockquote">
              <h2>Universidad Tecnologica Nacional</h2>
              <h4>Facultad Regional Avellaneda</h4>
              <h5>Ingenieria Electronica</h5>

          </blockquote>
          <figcaption class="blockquote-footer">
              <cite class="figcap" title="Source Title">Se adeudan finales</cite>
          </figcaption>
      </figure>
      <hr>

  </div>
</div>
<div class="row mt-3">
  
  <div class="col-4 pos_izq ps-4 pt-5">
      
      <div>
          <img src="assets/image/Logo_ENET_N3_Salvador_Debenedetti.png" class="tam_imag1" alt="..." title="Logo NETlNs5Salvador Debenedetti">
      </div>
      <p></p>
  </div>
  

  <div class="col-sm-12 col-md-8 justify-content-end" >
                                                                                                    
      <figure class="mt-4 text-end">
          <blockquote class="blockquote">
              <h2>ENET N° 3 Salvador Debenedetti</h2>
              <h4>Avellaneda</h4>
              <h5>Tecnico Electronico</h5>

          </blockquote>
          <figcaption class="blockquote-footer">
              <cite class="figcap" title="Source Title"></cite>
          </figcaption>
      </figure>
  </div>
</div>
