<section>
  <div id="educacion" class="about1">
      <div class="container-fluid border rounded-3">
          <div class="row mt-4">
              <div class="col-4 pos_izq mt-1 blockquote1">
                  <h2>Educacion</h2>
                  <br>
                  <div>
                      <img src="assets/image/APLogo-20-22.png" class="tam_imag" alt="..." title="Logo Argentina Programa">
                  </div>
              </div>
              <div class="col-1">
              </div>
              <div class="col-7 col-md-6" >
                  <figure class="mt-4 text-end">
                      <blockquote class="blockquote blockquote1">
                          <h3>Argentina Programa</h3>
                          <h4>Yo Programo</h4>
                          <h5>Full Stack Development Jr</h5>
                      </blockquote>
                      <figcaption class="blockquote-footer">
                          <cite title="Source Title">Actualmente en curso</cite>
                      </figcaption>
                  </figure>
              </div>
          </div>
          <br>
          <hr>
          <div class="row mt-4">
              <div class="col-4 pos_izq blockquote1">
                  <h2></h2>
                  <br>
                  <div>
                      <img src="assets/image/Logo_UTN_av.png" class="tam_imag" alt="..." title="Logo UTN Avellaneda">
                  </div>
              </div>
              <div class="col-1">
              </div>
              <div class="col-7 col-md-6" >
                  <figure class="mt-4 text-end">
                      <blockquote class="blockquote blockquote1">
                          <h3>Universidad Tecnologica Nacional</h3>
                          <h4>Facultad Regional Avellaneda</h4>
                          <h5>Ingenieria Electronica</h5>
                      </blockquote>
                      <figcaption class="blockquote-footer">
                          <cite title="Source Title">Se adeudan finales</cite>
                      </figcaption>
                  </figure>
              </div>
          </div>
          <br>
          <hr>

          <div class="row mt-4">
              <div class="col-4 pos_izq blockquote1">
                  <h2></h2>
                  <br>
                  <div>
                      <img src="assets/image/Logo_ENET_N3_Salvador_Debenedetti.png" class="tam_imag1" alt="..." title="Logo NETlNs5Salvador Debenedetti">
                  </div>
              </div>
              <div class="col-1">
              </div>
              <div class="col-7 col-md-6" >
                  <figure class="mt-4 text-end">
                      <blockquote class="blockquote blockquote1">
                          <h3></h3>
                          <h4>ENET N° 3 Salvador Debenedetti</h4>
                          <h4>Avellaneda</h4>
                          <h5>Tecnico Electronico</h5>
                      </blockquote>
                      <figcaption class="blockquote-footer">
                          <cite title="Source Title"></cite>
                      </figcaption>
                  </figure>
              </div>
          </div>
          <br>
          <br>
      </div>
  </div>
</section>
