<div class="bod">
  <div class="contend-fluid">
    <p class="text-center pt-4 fs-4">
      PAGINA NO ENCONTRADA
    </p>
    <img src="https://media.tenor.com/GAv-RKfyShwAAAAj/sem%C3%A1foro-red.gif"  class="tip text-center" title="errors">
    <div class="text-center arriba2 fs-5" >
      <p>
        Disculpas, la página buscada no se encuentra. El enlace ya no existe o puede estar roto.
      </p>
      <p class="pt-2">
        Intentelo más tarde o dirijase a la página de inicio.
      </p>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-4 pe-4">
      <a href="index" class="btn btn-success text-right" tabindex="-1" role="button" aria-disabled="true">Ir a la página de Inicio</a>
    </div>
  </div>
</div>
