<section id="sobreMi" class="about">
        
  <div id="sobre_mi">
      
      <div class="container-fluid border rounded-3 capa0">
          <div class="row mt-3">
              <div class="col-3 pos_izq ps-5 capa1">
                  <img src="assets/image/gato.jpg" class="rounded-circle posImag" alt="..." title="...">
                  <h2 class="mt-3">Nestor Carretino</h2>
                  <h4>Full Stack Developer Jr</h4>
                  <p>
                  
                  </p>
              </div>
              <div class="col-3">

              </div>
          
              <div class="col-sm-12 col-lg-6 justify-content-end px-5" >
                  <h2 class="p">Acerca de mi</h2>
                  <figure class="mt-3 text-end">
                      <blockquote class="blockquote">
                          <p>Hola soy Nestor de Banfield provincia de Buenos Aires, en busqueda de nuevos desafios.</p>
                          <p>Dispongo de muchos años de experiencia en gestión de compras en los rubros manufactureros y seguridad electrónica, como además en el sector de almacenes, logística y expedición. Gran conocimiento de la legislatura nacional. Persona habituada en gestionar contratos y supervisar compras a gran escala. Dinámico, metódico y enérgico en la consecución de los objetivos marcados. Buenas dotes comunicativas y excelente habilidades como negociador y gestión de ahorros.</p>
                      </blockquote>
                      <figcaption class="blockquote-footer">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                      </figcaption>
                  </figure>

              </div>
          </div>
      </div>
  </div>
</section>
