
    <section>
      <div id="proyecto" class="1">
          <div class="container-fluid border rounded-3">
              <div class="row mt-4">
                  <div class="col-4 pos_izq blockquote1">
                      <h2>Proyectos</h2>
                      <br>
                      <div class="pb-3">
                          <img src="assets/image/APLogo-20-22.png" class="tam_imag" alt="..." title="Logo Argentina Programa">
                      </div>
                      <h3>Proyecto Integrador</h3>
                      <h6></h6>
                      <p>
                          2022 - 2023 
                      </p>
                  </div>
                  <div class="col-1">

                  </div>
                  
                  <div class="col-7 col-md-6" >
                      <figure class="mt-4 text-end">
                          <blockquote class="blockquote blockquote1">
                              <p>El objetivo es comenzar con el maquetado web de nuestro proyecto integrador. <br>Sera nuestro Potfolio estatico. Confeccion del index y el dashboard, con el correspondiente login sugerido por Argentina Programa</p>
                          </blockquote>
                          <figcaption class="blockquote-footer">
                              Someone famous in <cite title="Source Title">Source Title</cite>
                          </figcaption>
                      </figure>

                  </div>
              </div>
          </div>
      </div>
  </section>
